version: '3.8'

services:
  db:
    image: postgis/postgis:15-3.4
    ports:
      - '5432:5432'
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: monorepo_db
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
