# fly.toml app configuration file generated for crowd-wtd6ka on 2025-12-18T19:21:24-08:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'crowd-wtd6ka'
primary_region = 'iad'

[build]

[deploy]
  release_command = 'sh -c "cd /app/apps/server && pnpm migrate"'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

  [[http_service.checks]]
    interval = '30s'
    timeout = '5s'
    grace_period = '10s'
    method = 'GET'
    path = '/health'

[[vm]]
  memory = '1gb'
  cpus = 1
  memory_mb = 1024
